mypy==0.982
flake8==5.0.4
paramiko==3.1.0
sphinx
sphinx-argparse
sphinx_autodoc_typehints
sphinx-rtd-theme
Django==3.2.12
django-simple-captcha>=0.5.12
django-rq==2.5.1
ldap3==2.9.1
redis==4.4.0
social-auth-core>=4.4.2
social-auth-app-django==5.0.0
python-jose==3.3.0
python3-openid==3.2.0
paramiko==3.1.0
beautifulsoup4
django-auth-ldap==4.3.0
fakeredis==2.18.0
tox==4.6.0
Bitu-LDAP @ git+https://gerrit.wikimedia.org/r/operations/software/bitu-ldap@f96acf90f051f7b69dbfda7c05c57a8fdf53253a

