Django==3.2.12
django-simple-captcha>=0.5.12
djangorestframework==3.14.0
django-rq==2.5.1
ldap3==2.9.1
#redis
social-auth-core>=4.4.2
social-auth-app-django==5.0.0
pyotp==2.6.0
python-jose==3.3.0
python3-openid==3.2.0
paramiko==3.1.0
qrcode==7.4.2
beautifulsoup4
django-auth-ldap==4.3.0
fakeredis==2.18.0
Bitu-LDAP @ git+https://gerrit.wikimedia.org/r/operations/software/bitu-ldap@f96acf90f051f7b69dbfda7c05c57a8fdf53253a
tox
setuptools
sshpubkeys==3.1.0
structlog==22.3.0
passlib==1.7.4