{# SPDX-License-Identifier: GPL-3.0-or-later #}
{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Signup" %}{% endblock %}

{% block content %}
<div class="columns is-mobile">
    <div class="column"></div>
    <div class="column">
        <form method="post">{% csrf_token %}
            {% for field in form %}
            <div class="field">
                <label class="label">{{ field.label_tag }} </label>
                <div class="control">
                  {{ field }}
                </div>
                {% for error in field.errors %}
                <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
                <input type="submit" class="button is-primary" value="{% translate "Signup" %}">
        </form>
    </div>
    <div class="column"></div>
    <div class="column is-half">{% include signup_info_template %}</div>
    <div class="column"></div>
</div>

<script>
    const captchas = document.querySelectorAll('img.captcha')

    function headers(options) {
      options = options || {}
      options.headers = options.headers || {}
      options.headers['X-Requested-With'] = 'XMLHttpRequest'
      return options
    }

    for (const captcha of captchas) {
      const anchor = document.createElement('a')
      anchor.href = '#'
      anchor.classList.add('captcha-refresh')
      anchor.classList.add('button')
      anchor.classList.add('is-info')
      anchor.classList.add('is-light')
      anchor.classList.add('is-pulled-right')
      anchor.textContent = '↺'
      anchor.addEventListener('click', ({ target }) => {
        const url = `${window.location.origin}/captcha/refresh/`
        let formEl = target.parentElement

        while (formEl && formEl.tagName.toLowerCase() !== 'form') {
          formEl = formEl.parentElement
        }

        fetch(url, headers())
          .then(res => res.json())
          .then(json => {
            formEl.querySelector('input[name="captcha_0"]').value = json.key
            captcha.setAttribute('src', json.image_url)
            document.getElementById('audioSource').setAttribute('src', json.audio_url)
            document.getElementById('audio').load()
          })
          .catch(console.error)

        return false
      })

      captcha.after(anchor)
    }
    </script>

 {% endblock %}