{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<div class="columns">
    <div class="column"></div>
    <div class="column is-half">
        <div class="columns is-centered">
            <figure class="image is-128x128">
                <img src="{% static 'wikimedia/wmf_logo_vertical.png' %}" />
            </figure>
        </div>
        <div class="columns is-centered">
            <h5 class="title is-5">{% translate "Authenticate using your Wikimedia Developer Single Sign-On" %}</h2>
        </div>
        <br />
        <div class="columns is-centered">
            <a class="button is-primary" href="{% url 'social:begin' 'cas' %}">{% translate "Log In" %}</a>
        </div>
        <br>
        <div class="columns is-centered">
            <div>
                {% url 'signups:signup' as signup_url %}
                {% url 'wikimedia:password_reset' as password_reset_url %}
                {% blocktrans %}
                Don't have an account? Go to our <a href="{{ signup_url }}">signup page</a>.<br/>
                Forgot your password? Go to our <a href="{{ password_reset_url }}">password reset page</a>.
                {% endblocktrans %}
            </div>
        </div>
    </div>
<div class="column"></div>
</div>
{% endblock %}