{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate "I forgot my password" %}{% endblock %}

{% block content %}
<div>
    {% if not user.is_anonymous %}
    {% translate "You're already signed in." %}
    {% else %}
    {% blocktranslate %}
    If you have forgotten your password, please enter your username and a confirmation email will be sent to the address you've used for signup.
    The email will contain a link which allows you to reset your password.
    {% endblocktranslate %}
    <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="is-primary button">{% translate "Reset" %}</button>
    </form>
    {% endif %}
</div>
{% endblock %}