{% extends 'base.html' %}
{% load i18n %}
{% load ldapattr %}
{% block title %}{% translate "Profile" %}{% endblock %}
{% block content %}
<article class="message is-info">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
        Initially the IDM only creates accounts (further functionality is being developed and will be enabled over time).
        Currently, it you want to add/edit SSH keys to access Cloud VPS instances you need to log into <a href="https://wikitech.wikimedia.org/">wikitech.wikimedia.org</a>
        with your user name/password and add them under <a href="https://wikitech.wikimedia.org/wiki/Special:Preferences#mw-prefsection-openstack">Preferences->OpenStack</a>
    </div>
  </article>
<div class="columns">
    <div class="column">
        <ul>
            <li><strong>Username: </strong>{{ user.username }}</li>
        {% for attr in ro_attrs|dictsort:"display" %}
            <li>
                <strong>{{ attr.display }}{{ attr|tooltip }}: </strong>
                {{ attr.value }}
                {{ attr|action }}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% if form.editable %}
    <div class="column">
        <form action="{% url 'ldapbackend:properties' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br />
            <input type="submit" class="button is-info" value="{% translate "Update" %}">
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}