{% extends 'two_column_codex_with_nav.html' %}
{% load i18n %}
{% load ldapattr %}
{% load sul %}

{% block title %}
{% translate "My LDAP properties" %}
{% endblock %}

{% block message %}
{% include "messages_codex.html" %}
{% wikimedia_global_account_linking %}
{% endblock %}

{% block left %}
<form>
    {% for field in  ro_attrs|dictsort:"display" %}
    <div class="form-field">
    <div class="cdx-field">
      <div class="cdx-label">
        <label class="cdx-label__label" for="cdx-{{ field.name }}">
          <span class="cdx-label__label__text">{{ field.display }}</span>
        </label>
      </div>
      <div class="cdx-field__control cdx-field__control--has-help-text">
        <div class="cdx-text-input">
            <input class="cdx-text-input__input" type="text" placeholder="{{ field|ldap_value }}" disabled />
        </div>
      </div>
      <div class="form-help">
      <small id="cdx-{{ field.name }}" class="cdx-field__help-text field-help">
        {% if 'tooltip' in field %}
        {{ field.tooltip }}
        {% endif %}
      </small>
      {{ field|action }}
      </div>
    </div>
  </div>
    {% endfor %}
</form>
{% endblock %}

{% block right %}
{% if form.editable %}
        <form action="{% url 'ldapbackend:properties' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-field">
            <div class="cdx-field">
              <div class="cdx-label">
                <label class="cdx-label__label" for="cdx-{{ field.name }}">
                  <span class="cdx-label__label__text">{{ field.label }}</span>
                </label>
              </div>
              <div class="cdx-field__control cdx-field__control--has-help-text">
                <div class="cdx-text-input">
                  {{ field }}
                </div>
              </div>
              {% if field.errors %}
              <div class="cdx-field__validation-message">
                <div class="cdx-message cdx-message--inline cdx-message--error" role="alert">
                  <span class="cdx-message__icon"></span>
                  {% for error in field.errors %}
                  <div class="cdx-message__content">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
              <div class="form-help">
              <small id="cdx-{{ field.name }}" class="cdx-field__help-text field-help">
                {{ field.help_text }}
              </small>
              </div>
            </div>
          </div>
            {% endfor %}
            <div class="center-block">
                <button type="submit" class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">
                  {% translate "Update user information" %}
                </button>
                </p>
            </div>
        </form>
{% endif %}
{% endblock %}

{% block old %}
{% wikimedia_global_account_linking %}
<article class="message is-info">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
        Initially the IDM only creates accounts (further functionality is being developed and will be enabled over time).
        Currently, it you want to add/edit SSH keys to access Cloud VPS instances you need to log into <a href="https://wikitech.wikimedia.org/">wikitech.wikimedia.org</a>
        with your user name/password and add them under <a href="https://wikitech.wikimedia.org/wiki/Special:Preferences#mw-prefsection-openstack">Preferences->OpenStack</a>
    </div>
  </article>
<div class="columns">
    <div class="column">
        <ul>
            <li><strong>Username: </strong>{{ user.username }}</li>
        {% for attr in ro_attrs|dictsort:"display" %}
            <li>
                <strong>{{ attr.display }}{{ attr|tooltip }}: </strong>
                {{ attr.value }}
                {{ attr|action }}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% if form.editable %}
    <div class="column">
        <form action="{% url 'ldapbackend:properties' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br />
            <input type="submit" class="button is-info" value="{% translate "Update" %}">
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}