{% extends 'hero_codex.html' %}
{% load i18n %}

{% block content %}
<div class="content">
    <div class="hero">
    <h2>{% translate "Thank you for activating your account." %}</h2>
    <p class="center">
        {% blocktrans %}
        Thank you for activating your account. Your account is now confirmed and is currently being created. Please allow for up to a few minutes for the creation to complete, after which you will be able to log in using your selected password.
        {% endblocktrans %}
    </p>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
