{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Thank you for signing up" %}{% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column">
        {% blocktrans %}
        A verification link has been sent to your email address.
        You must follow the verification link and confirm your account before you are able
        to sign in.
        {% endblocktrans %}
    </div>
    <div class="column is-one-fifth"></div>
</div>
{% endblock %}