{# SPDX-License-Identifier: GPL-3.0-or-later #}
{% extends 'two_column_codex.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% translate "Wikimedia developer account signup" %}
{% endblock %}

{% block heading %}
{% translate "Create account" %}
{% endblock %}

{% block left %}
<form class="signup" method="post">{% csrf_token %}
  {% for field in form %}
  <div class="form-field">
  <div class="cdx-field">
    <div class="cdx-label">
    {% if field.name == "captcha" %}
       <label class="cdx-label__label" for="id_{{ field.name }}_1">
    {% else %}
       <label class="cdx-label__label" for="id_{{ field.name }}">
    {% endif %}
        <span class="cdx-label__label__text">{{ field.label }}</span>
      </label>
    </div>
    <div class="cdx-field__control cdx-field__control--has-help-text">
      <div class="cdx-text-input">
        {{ field }}
      </div>
    </div>
    {% if field.errors %}
    <div class="cdx-field__validation-message">
      <div class="cdx-message cdx-message--inline cdx-message--error" role="alert">
        <span class="cdx-message__icon"></span>
        {% for error in field.errors %}
        <div class="cdx-message__content">{{ error }}</div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="form-help">
    <small id="cdx-{{ field.name }}" class="cdx-field__help-text field-help">
      {{ field.help_text }}
    </small>
    {% if 'max_length' in field.field.widget.attrs %}
    <small id="id_{{ field.name }}_max" data-default-max="{{ field.field.widget.attrs.max_length }}" class="field-max">{{ field.field.widget.attrs.max_length }} </small>
    {% endif %}
    </div>
  </div>
</div>
{% endfor %}

<div id="signup_password_mismatch" class="cdx-field__validation-message hidden">
  <div class="cdx-message cdx-message--inline cdx-message--error" role="alert">
    <span class="cdx-message__icon"></span>
    <div class="cdx-message__content">{% translate "The passwords you entered don't match. Please double-check and try again to ensure your account stays secure." %}</div>
  </div>
</div>

<div id="email_invalid_msg" class="cdx-field__validation-message hidden">
  <div class="cdx-message cdx-message--inline cdx-message--error" role="alert">
    <span class="cdx-message__icon"></span>
    <div class="cdx-message__content">{% translate "It looks like the email address you entered isn't quite right. Please make sure it follows the standard format (e.g., example@email.com)" %}</div>
  </div>
</div>

<small>
  {% blocktranslate with cloud_services_terms_of_use="https://wikitech.wikimedia.org/wiki/Special:MyLanguage/Wikitech:Cloud_Services_Terms_of_use" cloud_services_info_url="https://wikitech.wikimedia.org/wiki/Special:MyLanguage/Help:Cloud_Services_introduction" mediawiki_code_of_conduct_url="https://www.mediawiki.org/wiki/Special:MyLanguage/Code_of_Conduct" %}
  Creating an account means complying with the <a href="{{ cloud_services_terms_of_use }}">Terms of Use</a> for
  <a href="{{ cloud_services_info_url }}">Wikimedia Cloud Services</a> and the
  <a href="{{ mediawiki_code_of_conduct_url }}">Code of Conduct for Wikimedia</a> technical spaces.
  {% endblocktranslate %}
</small>

<div class="center-block">
  <button type="submit" class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">
    {% translate "Create account" %}
  </button>
</div>
<p class="center">
    {% blocktranslate %}
    Already have an account? Go to <a href="/">Log In</a>
    {% endblocktranslate %}
</p>
</form>
{% endblock %}

{% block right %}
<div class="warning">
  <div class="cdx-message cdx-message--block cdx-message--warning" aria-live="polite">
    <span class="cdx-message__icon"></span>
    <div class="cdx-message__content">
      {% blocktranslate with developer_account_info_url="https://www.mediawiki.org/wiki/Special:MyLanguage/Developer_account" cloud_services_info_url="https://wikitech.wikimedia.org/wiki/Special:MyLanguage/Help:Cloud_Services_introduction" %}
      When you create or use a <a href="{{ developer_account_info_url }}">Wikimedia developer account</a>, some information
      becomes visible to other users of <a href="{{ cloud_services_info_url }}">Wikimedia Cloud Services</a>. Specifically,
      the email address linked to your account will be publicly visible. Additionally, when you connect to virtual machines
      in Wikimedia Cloud VPS using SSH, your IP address will be recorded.
      This information might be visible to other users of Cloud VPS or Toolforge.
      {% endblocktranslate %}
    </div>
  </div>
</div>
<div class="warning">
  <div class="cdx-message cdx-message--block cdx-message--warning" aria-live="polite">
    <span class="cdx-message__icon"></span>
    <div class="cdx-message__content">
      {% blocktranslate with cloud_services_terms_of_use="https://wikitech.wikimedia.org/wiki/Special:MyLanguage/Wikitech:Cloud_Services_Terms_of_use" %}
      By signing up, you agree to respect the privacy of other users. This means you won't collect, store, or share their private
      data or personally identifiable information like usernames, passwords, or IP addresses, unless it's necessary under the
      conditions outlined in the <a href="{{ cloud_services_terms_of_use }}">Terms of Use</a>.
      {% endblocktranslate %}
    </div>
  </div>
</div>
<p class="center">
Questions? Contact&nbsp;<a href="mailto:idm-help@wikimedia.org">idm-help@wikimedia.org</a>
</p>
{% endblock %}

{% block script %}
<script>
  const captchas = document.querySelectorAll('img.captcha')

  function headers(options) {
    options = options || {}
    options.headers = options.headers || {}
    options.headers['X-Requested-With'] = 'XMLHttpRequest'
    return options
  }

  for (const captcha of captchas) {
    const anchor = document.createElement('button')
    anchor.href = '#'
    anchor.classList.add('captcha-refresh')
    anchor.classList.add('cdx-button')
    anchor.textContent = '↺'
    anchor.addEventListener('click', ({ target }) => {
      const url = `${window.location.origin}/captcha/refresh/`
      let formEl = target.parentElement

      while (formEl && formEl.tagName.toLowerCase() !== 'form') {
        formEl = formEl.parentElement
      }

      fetch(url, headers())
        .then(res => res.json())
        .then(json => {
          formEl.querySelector('input[name="captcha_0"]').value = json.key
          captcha.setAttribute('src', json.image_url)
        })
        .catch(console.error)

      return false
    })

    captcha.after(anchor)
  }

  function update_username_counter(name){
      var value = document.getElementById(name).value;
      var max = document.getElementById(name).attributes['max_length'].value;
      remainder = max - value.length;
      document.getElementById(name + '_max').innerText = remainder;
      if (remainder < 0 ){
        document.getElementById(name + '_max').classList.add('negative')
      }
  }

  document.getElementById('id_username').addEventListener("keyup", (event) => { update_username_counter("id_username"); });
  document.getElementById('id_uid').addEventListener("keyup", (event) => { update_username_counter("id_uid"); });

  document.getElementById('id_username').onchange = function() {
    var username = document.getElementById("id_username").value.toLowerCase();
    // Remove non-ascii characters
    if(document.getElementById("id_uid").value == ''){
      document.getElementById("id_uid").value = username.replace(/\s/g, '').replace(/[^A-Za-z 0-9 -]*/g, '').slice(0,32);
      update_username_counter("id_username");
      update_username_counter("id_uid");
    }
  };

  document.getElementById('id_uid').onchange = function() {
    update_username_counter("id_uid");
  };

  update_username_counter("id_username");
  update_username_counter("id_uid");

  /* check that passwords match */
  function password_mismatch_err(){
    var err_msg = document.getElementById("signup_password_mismatch");
    document.getElementById("id_password2").parentElement.parentElement.after(err_msg)
    var password1 = document.getElementById("id_password1").value;
    var password2 = document.getElementById("id_password2").value;
    if (password1 != password2){
      err_msg.style.display = "block";
    } else {
      err_msg.style.display = "none";
    }
  }

  document.getElementById('id_password2').addEventListener("keyup", (event) => { password_mismatch_err(); });
  document.getElementById('id_password2').onchange = function() {
    password_mismatch_err();
  };

  /* email sanity check */
  function email_sanity_check(){
    var err_msg = document.getElementById("email_invalid_msg");
    document.getElementById("id_email").parentElement.parentElement.after(err_msg)
    var email = document.getElementById("id_email").value;
    if(email.indexOf('@') == -1 || email.indexOf('.') == -1){
      err_msg.style.display = "block";
    } else {
      err_msg.style.display = "none";
    }
  }

  document.getElementById('id_email').onchange = function() {
      email_sanity_check();
  };


  </script>
{% endblock %}
