{% extends 'hero_codex.html' %}
{% load i18n %}
{% block title %}
{% translate "Wikimedia developer account signup - Account confirmation" %}
{% endblock %}
{% block content %}
<div class="content">
    {% if validlink %}
    <div class="hero">
    <h2>Account activation</h2>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">{% translate "Confirm account creation" %}</button>
    </form>
    {% else %}
    <h2>{% translate "Sorry, but this link is no longer valid." %}</h2>
    {% endif %}
</div>
{% endblock %}
{% block footer %}
{% endblock %}
