{% extends 'hero_codex.html' %}
{% load i18n %}
{% block title %}
{% translate "Wikimedia developer account signup - Wait for confirmation" %}
{% endblock %}
{% block content %}
<div class="content">
    <div class="hero">
    <h2>Thank you for signing up</h2>
    <p>
        {% translate "A verification link has been sent to your email address. Follow the verification link and confirm your account before signing in." %}
    </p>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}