[Unit]
Description=Bitu Identity Manager
After=network.target

[Service]
ExecStart = /usr/bin/uwsgi --die-on-term --ini /etc/uwsgi/apps-enabled/bitu.ini
ExecReload = /bin/kill -HUP $MAINPID
User = www-data
Group = www-data
SyslogIdentifier = "uwsgi-bitu"
LimitCORE=0

[Install]
WantedBy=multi-user.target
