{% extends 'single_column_codex_with_nav.html' %}
{% load i18n %}
{% load ticket %}

{% block title %}
{% translate "Access request, Approval" %}
{% endblock %}

{% block content %}
<div class="content">
  <h2>
    {% blocktranslate with request.permission.name as name %}You are about to approve access to: '{{ name }}'.{% endblocktranslate %}
  </h2>
  <p>
    <strong>{% translate "User" %}: </strong>{{ request.user.username }}<br>
    <strong>{% translate "Email" %}:</strong> {{ request.user.ldap_entry.mail }}<br>
    <strong>{% translate "Wikimedia Global Account (SUL)" %}:</strong>
    {% if request.user.ldap_entry.wikimediaGlobalAccountId %}
    {{ request.user.ldap_entry.wikimediaGlobalAccountName }} ({{ request.user.ldap_entry.wikimediaGlobalAccountId }})
    {% else %}
     --
    {% endif %}<br>
    <strong>{% translate "Groups"%}:</strong>
      {% for group in request.user.ldap_groups %}{{ group.cn }} / {% endfor %}<br>
    <strong>{% translate "Request date" %}: </strong>{{ request.created }}<br>
    <strong>{% translate "Comment" %}</strong>:  {{ request.comment }}<br>
    <strong>{% translate "Log" %}</strong>:
    <ul>
    {% for log in request.list_approvals %}
      <li>{{ log.created }} - {{ log.created_by }}: {{ log.comment }}  </li>
    {% endfor %}
    </ul>
  </p>
  <p>
    <form method="post">{% csrf_token %}
        {% for field in form %}
            <div class="form-field">
            <div class="cdx-field">
              <div class="cdx-label">
                <label class="cdx-label__label" for="cdx-{{ field.name }}">
                  <span class="cdx-label__label__text">{{ field.label }}{% if field.field.required %}*{% endif %}</span>
                </label>
              </div>
              <div class="cdx-field__control cdx-field__control--has-help-text">
                <div class="cdx-text-input">
                  {{ field }}
                </div>
              </div>
              {% if field.errors %}
              <div class="cdx-field__validation-message">
                <div class="cdx-message cdx-message--inline cdx-message--error" role="alert">
                  <span class="cdx-message__icon"></span>
                  {% for error in field.errors %}
                  <div class="cdx-message__content">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
              <div class="form-help">
              <small id="cdx-{{ field.name }}" class="cdx-field__help-text field-help">
                {{ field.help_text }}
              </small>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="center-block">
              <button type="submit" name="approve" class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">
                {% translate "Approve" %}
              </button>
              <button type="submit" name="reject" class="cdx-button cdx-button--action-destructive cdx-button--weight-primary"">
                {% translate "Reject" %}
              </button>
            <a href="{% url "permissions:pending" %}"
            class="cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--action-progressive">{% translate "Cancel" %}</a>
          </div>
    </form>
  </p>
</div>
{% endblock %}

{% block script %}
{% endblock %}