{% extends 'single_column_codex_with_nav.html' %}
{% load i18n %}
{% load ticket %}

{% block title %}
{% translate "Permissions - My Permissions" %}
{% endblock %}

{% block content %}
<div class="codex_content">
  <div class="content_box">
    <h4>{% blocktranslate with object.permission.name as name and object.permission.source_display as source %}Eventlog for: '{{ name }} ({{ source }})' access request.{% endblocktranslate %}</h4>
<div class="content">
    <p>
    <strong>{% translate 'Permission' %}</strong>: {{ object.permission.name }}<br />
    <strong>{% translate 'Status' %}</strong>: {{ object.get_status_display}}<br />
    <strong>{% translate 'System' %}</strong>: {{ object.permission.source_display }}<br />
    <strong>{% translate 'Ticket' %}</strong>: {{ object.ticket|ticket_link }}<br />
    <strong>{% translate 'Comment' %}</strong>: {{ object.comment }}<br />
    </p>
    <div class="cdx-table">
          <div class="cdx-table">
            <!-- Header has been omitted since there is no header content. -->
            <div class="cdx-table__table-wrapper">
              <table class="cdx-table__table">
                <caption>
                  {% translate "Permission management" %}
                </caption>
                <thead>
                  <tr>
                    <th scope="col">{% translate "Created" %}</th>
                    <th scope="col">{% translate "Author" %}</th>
                    <th scope="col">{% translate "Comment" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for log in object.log_set.all %}
                  <tr>
                    <td>{{ log.created }}</td>
                    <td>{{ log.created_by }}</td>
                    <td>{{ log.comment|linebreaksbr }}</td>
                  </tr>
                  {% endfor %}
                </tfoot>
              </table>
            </div>
          </div>
    </div>
</div>
</div>
</div>
{% endblock%}