{% extends 'single_column_codex_with_nav.html' %}
{% load i18n %}

{% block title %}
{% translate "Permissions - My Permissions" %}
{% endblock %}

{% block content %}
<div class="codex_content">
  <div class="content_box">
    <h4>{% translate "Request new permissions" %}</h4>

<div class="cdx-table">
    <!-- Header has been omitted since there is no header content. -->
    <div class="cdx-table__table-wrapper">
      <table class="cdx-table__table">
        <caption>
          {% translate "Permission management" %}
        </caption>
        <thead>
          <tr>
            <th scope="col">{% translate "Permission" %}</th>
            <th scope="col">{% translate "Description" %}</th>
            <th scope="col" class="cdx-table__table__cell--align-number">{% translate "Provider" %}</th>
            <th scope="col">{% translate "Status" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for permission in my_permissions %}
          <tr>
            <td>{{ permission.name|capfirst }}</td>
            <td>{{ permission.description }}</td>
            <td class="cdx-table__table__cell--align-number">{{ permission.source_display }}</td>
            <td>
            {% if permission.request %}
            <a href="{% url 'permissions:log' pk=permission.request.pk %}">{{ permission.state_display }}</a>
            {% else %}
            {{ permission.state_display }}
            {% endif %}
            </td>
          </tr>
          {% endfor %}
          {% for permission in permissions %}
          <tr>
            <td>{{ permission.name|capfirst }}</td>
            <td>{{ permission.description }}</td>
            <td class="cdx-table__table__cell--align-number">{{ permission.source_display }}</td>
            <td>
            {% if permission.state == 'AP' or permission.state == 'PN' %}
              <a href="{% url 'permissions:log' pk=permission.request.pk %}">{{ permission.state_display }}</a>
            {% else %}
              <a href="{% url 'permissions:request' system=permission.source key=permission.key %}">{% translate "Request this permission" %}</a>
            {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tfoot>
      </table>
    </div>
  </div>
</div>
</div>


{% if logs %}
<div class="codex_content">
  <div class="content_box">
      <h4>{% translate "Event log" %}</h4>
  <div class="cdx-table">
    <!-- Header has been omitted since there is no header content. -->
    <div class="cdx-table__table-wrapper">
      <table class="cdx-table__table">
        <caption>
          {% translate "Event log" %}
        </caption>
        <thead>
          <tr>
            <th scope="col">{% translate "Date" %}</th>
            <th scope="col">{% translate "Manager" %}</th>
            <th scope="col">{% translate "Permission" %}</th>
            <th scope="col">{% translate "Reason" %}</th>
            <th scope="col">{% translate "Status" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for log in logs %}
          <tr>
            <td>{{ log.created }}</td>
            <td>{{ log.created_by }}</td>
            <td>{{ log.request.permission.name }}</td>
            <td>{{ log.comment }}</td>
            <td>{% if log.approved %}{% translate "Approved" %}{%else %}{% translate "Rejected" %}{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
{% endif %}

{% endblock %}