{% extends 'hero_codex.html' %}
{% load i18n %}

{% block content %}
<div>
    <div>
    <p>
    {% blocktranslate %}
    To update your email address you will need to prove ownership of the new address.
    We will send a confirmation email with a link to your new email address, click this
    link to verify that you have access to that email account.
    {% endblocktranslate %}
    </p>
    <p><em>
    {% blocktranslate %}
    Please remember that the email address linked to your account is publicly visible.
    {% endblocktranslate %}
    </em></p>
  </div>
    <br />
    <div>
    <form method="post">{% csrf_token %}
        {% for field in form %}
            <div class="form-field">
            <div class="cdx-field">
              <div class="cdx-label">
                <label class="cdx-label__label" for="cdx-{{ field.name }}">
                  <span class="cdx-label__label__text">{{ field.label }}</span>
                </label>
              </div>
              <div class="cdx-field__control cdx-field__control--has-help-text">
                <div class="cdx-text-input">
                  {{ field }}
                </div>
              </div>
              {% if field.errors %}
              <div class="cdx-field__validation-message">
                <div class="cdx-message cdx-message--inline cdx-message--error" role="alert">
                  <span class="cdx-message__icon"></span>
                  {% for error in field.errors %}
                  <div class="cdx-message__content">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
              <div class="form-help">
              <small id="cdx-{{ field.name }}" class="cdx-field__help-text field-help">
                {{ field.help_text }}
              </small>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="center-block">
            <button type="submit" class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">
                {% translate "Send verification email" %}
            </button>
            <a href="{% url "ldapbackend:properties" %}"
            class="cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--action-progressive">{% translate "Cancel" %}</a>
          </div>
    </form>
    </div>
</div>
{% endblock %}