{% extends 'hero_codex.html' %}
{% load i18n %}

{% block content %}
<div>
    {% if form %}
    <p>{% translate "Please verify that you wish to update your email address" %}</p>
    <p>
        <ul>
            <li><strong>{% translate "Current email" %}:</strong> {{ user.email }}</li>
            <li><strong>{% translate "New email" %}:</strong> {{ email }}</li>
        </ul>
    </p>

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <div class="center-block">
        <button type="submit" class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">
            {% translate "Update email" %}
          </button>
          <a href="{% url "ldapbackend:properties" %}"
          class="cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--action-progressive">{% translate "Cancel" %}</a>
        </div>
    </form>
    {% else %}
    <div class="cdx-message cdx-message--block cdx-message--error" role="alert">
        <span class="cdx-message__icon"></span>
        <div class="cdx-message__content">
            {% translate "The link you used has expired or is invalid" %}
        </div>
    </div>
    <div class="center-block"><a href="{% url "ldapbackend:properties" %}">{% translate "Go back" %}</a></div>
    {% endif %}
</div>
{% endblock %}