{% extends 'hero_codex.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="content">
    <div class="hero">
    <h2>Log in to your account</h2>
    <form action="{% url 'social:begin' 'cas' %}">
    <button id="auth" class="cdx-button cdx-button--action-progressive cdx-button--weight-primary" data-long-text="{% translate "Continue with Wikimedia Developer Sign-On" %}">
        <span>{% translate "Continue with Wikimedia" %}</span>
    </button>
    </form>
    <p>
        {% url 'signups:signup' as signup_url %}
        {% blocktrans %}
        Don't have an account? Go to <a href="{{ signup_url }}">Create Account</a>
        {% endblocktrans %}
    </p>
    </div>
</div>
{% endblock %}