{% extends 'hero_codex.html' %}
{% load i18n %}

{% block content %}
<div class="content">
    <div class="hero">
    <h2>{% translate "I forgot my password" %}</h2>
    {% if not user.is_anonymous %}
    {% translate "You're already signed in." %}
    {% elif form %}
    {% blocktranslate %}
    If you have forgotten your password, please enter your username and a confirmation email will be sent to the address you've used for signup.
    It will contain a link which allows you to reset your password.
    {% endblocktranslate %}
    <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <div class="center-block">
    <button type="submit" class="is-info button">{% translate "Reset" %}</button>
    </div>
    </form>
    {% else %}
    Invalid token
    {% endif %}
</div>
{% endblock %}
{% block footer %}
{% endblock %}



{% block f %}
<div>
    {% if not user.is_anonymous %}
    {% translate "You're already signed in." %}
    {% elif form %}
    {% blocktranslate %}
    If you have forgotten your password, please enter your username and a confirmation email will be sent to the address you've used for signup.
    It will contain a link which allows you to reset your password.
    {% endblocktranslate %}
    <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="is-info button">{% translate "Reset" %}</button>
    </form>
    {% else %}
    Invalid token
    {% endif %}
</div>
{% endblock %}