{% load i18n %}
{% if phabricator_linking_wanted %}
<div name="wmf_phab_link" class="message-box">
  <div class="cdx-message cdx-message--block cdx-message--notice cdx-message--user-dismissable" aria-live="polite">
    <span class="cdx-message__icon"></span>
    <div class="cdx-message__content">
      {% blocktrans %}
      If you have a Phabricator account please <a href="/login/phabricator/">connect it to your Wikimedia Developer account</a>.
      (you will be prompted to confirm).<br><br>
      If you are unsure about whether you have or need Phabricator access, you can <a href="https://www.mediawiki.org/wiki/Phabricator/Help">read more about our use of Phabricator</a>.
      {% endblocktrans %}
    <button class="cdx-button cdx-button--action-default cdx-button--weight-quiet cdx-button--size-medium cdx-button--icon-only cdx-message__dismiss-button" type="button" aria-label="Close"><span class="cdx-icon cdx-icon--medium"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20"><title>Close</title><g><path d="m4.34 2.93 12.73 12.73-1.41 1.41L2.93 4.35z"></path><path d="M17.07 4.34 4.34 17.07l-1.41-1.41L15.66 2.93z"></path></g></svg></span></button>
    </div>
  </div>
</div>
{% endif %}
