{% extends 'hero_codex.html' %}
{% load i18n %}

{% block content %}
<div class="content">
    <div class="hero">
    <h2>{% translate "Password recovery" %}</h2>
    <p class="center">
      {% translate " If the account name you entered is valid, a confirmation email has been sent, please wait until it arrives and use the provided link to reset your password. Should the confirmation email fail to arrive, please check your spam folder." %}
    </p>
</div>
{% endblock %}
{% block footer %}
{% endblock %}