{% extends 'hero_codex.html' %}
{% load i18n %}
{% load static %}

{% block main %}
    {% if not user.is_anonymous %}
    {% include "navbar_codex.html" %}
    <div class="content">
    <div class="hero">
      <h2>{% translate "I forgot my password" %}</h2>
    {% translate "You're already signed in." %}
    </div>
    </div>
    {% else %}
    <header class="hero">
      <img src="{% static 'wikimedia/wmf_logo_vertical.png' %}">
  </header>
<div class="content">
    <div class="hero">
    <h2>{% translate "I forgot my password" %}</h2>
    {% if form %}
    <p class="center">
    {% blocktranslate %}
    Please enter your username and a confirmation email will be sent to the address you used for your account. The email will contain a link which allows you to reset your password:
    {% endblocktranslate %}
    </p>
    <form method="post">{% csrf_token %}
        {% for field in form %}
        <div class="form-field single-field">
        <div class="cdx-field">
          <div class="cdx-label">
            <label class="cdx-label__label" for="cdx-{{ field.name }}">
              <span class="cdx-label__label__text">{{ field.label }}</span>
            </label>
          </div>
          <div class="cdx-field__control cdx-field__control--has-help-text">
            <div class="cdx-text-input">
              {{ field }}
            </div>
          </div>
          {% if field.errors %}
          <div class="cdx-field__validation-message">
            <div class="cdx-message cdx-message--inline cdx-message--error" role="alert">
              <span class="cdx-message__icon"></span>
              {% for error in field.errors %}
              <div class="cdx-message__content">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <div class="center-block">
    <button type="submit" class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">{% translate "Reset" %}</button>
    </div>
    <div class="center-block">
      <a href="/">Go to login page.</a>
    </div>
    </form>
    {% else %}
    Invalid token
    {% endif %}
</div>
{% endif %}
{% endblock %}
{% block footer %}
{% endblock %}