{% load static %}
<div class="box">
  <article class="message is-info">
    <div class="message-header">
      Information
    </div>
    <div class="message-body">
      <p>This is a new signup process for Wikimedia Developer accounts.
      If you experience any errors or issues signing up please contact the Infrastructure Foundations
      team at <a href="mailto:idm-help@wikimedia.org">idm-help@wikimedia.org</a>.
      Include as much information as you are comfortable with. Especially the time of day will be helpful
      for reviewing logs, remember to include your timezone.
      </p>
    </div>
  </article>
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
            <img src="{% static 'wikimedia/wmf_logo_vertical.png' %}" />
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            By creating a Wikimedia Developer account and the related services, you agree to comply with the
            <a href="https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use">Terms of Use</a>
            for <a href="https://wikitech.wikimedia.org/wiki/Help:Cloud_Services_introduction">Wikimedia Cloud Services</a>
            and the <a href="https://www.mediawiki.org/wiki/Code_of_Conduct">Code of Conduct for Wikimedia</a> technical
            spaces. In particular, you agree not to collect, store, or share private data or personally identifiable
            information, such as user names, passwords, or IP addresses from the individuals using your project,
            except when complying with the conditions listed in the
            <a href="https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use">Terms of Use</a>.
          </p>
          <article class="message is-warning">
            <div class="message-header">
              Warning
            </div>
            <div class="message-body">
                Creating or using a Wikimedia developer account will publicly expose information to other users of Wikimedia Cloud Services:
                The email address you associate with your Wikimedia developer account will be publicly visible.
                When connecting to virtual machines in Wikimedia Cloud VPS using SSH, your IP address will be recorded and may be visible to other users of Cloud VPS or Toolforge.
            </div>
          </article>
        </div>
      </div>
    </article>
  </div>
