{% extends 'single_column_codex_with_nav.html' %}
{% load i18n %}

{% block title %}
{% translate "SSH key management - Upload key" %}
{% endblock %}

{% block content %}
<div class="content">
    <form method="post">{% csrf_token %}
        {% for field in form %}
            <div class="form-field">
            <div class="cdx-field">
              <div class="cdx-label">
                <label class="cdx-label__label" for="cdx-{{ field.name }}">
                  <span class="cdx-label__label__text">{{ field.label }}</span>
                </label>
              </div>
              <div class="cdx-field__control cdx-field__control--has-help-text">
                <div class="cdx-text-input">
                  {{ field }}
                </div>
              </div>
              {% if field.errors %}
              <div class="cdx-field__validation-message">
                <div class="cdx-message cdx-message--inline cdx-message--error" role="alert">
                  <span class="cdx-message__icon"></span>
                  {% for error in field.errors %}
                  <div class="cdx-message__content">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
              <div class="form-help">
              <small id="cdx-{{ field.name }}" class="cdx-field__help-text field-help">
                {{ field.help_text }}
              </small>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="center-block">
            <button type="submit" class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">
                {% translate "Upload new SSH key" %}
            </button>
            <a href="{% url "keymanagement:list" %}"
            class="cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--action-progressive">{% translate "Cancel" %}</a>
          </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    document.getElementById('id_ssh_public_key').onchange = function() {
    var key = document.getElementById("id_ssh_public_key").value.split(' ')
    if (key[2]) {
      document.getElementById("id_comment").value = key.slice(2).join(' ')
    }
  };
</script>
{% endblock %}