{% extends 'single_column_codex_with_nav.html' %}
{% load i18n %}

{% block title %}
{% translate "SSH key management - List keys" %}
{% endblock %}

{% block content %}
<div class="codex_content">
    <div class="content_box">
      <h4>{% translate "Manage SSH keys for Wikimedia Cloud Services" %}</h4>
      <p>
      {% blocktrans %}
      This page allows you to manage SSH keys used for accessing Wikimedia Cloud Services.
      {% endblocktrans %}
      </p>
      <hr />
      <br />
<table class="vertical">
    <thead class="vertical">
        <tr class="vertical">
            <th class="vertical">active</th>
            <th>system</th>
            <th>SSH key</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="vertical">
        {% for key in object_list %}
        <tr class="vertical">
            <td class="vertical" data-label="{% translate "Active" %}">
                {% if key.active %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}
            </td>
            <td class="vertical" data-label="{% translate "System" %}">{% if key.get_system_display %}{{ key.get_system_display }}{% else %}-{% endif %}</td>
            <td class="vertical" data-label="{% translate "Comment" %}">{% if key.comment %}{{ key.comment }}{% else %} - {% endif %}</td>
            <td class="vertical">{% if key.get_display != key.ssh_public_key %}<span class="sshkey">{{ key }}</span><span class="sshkey" style="display:none;"">{{ key.ssh_public_key }}</span><span class="field-max">[<a href="#" class="ssh_toggle" onclick="toggle_ssh_key_display(this)" data-text-swap="{% translate "Hide" %}">{% translate "Expand" %}</a>]
                {% else %}
                <span class="sshkey">{{ key }}</span>
                {% endif %}
            </td>
            <td class="vertical">{% if not key.active %}
                <a class="cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--action-progressive cdx-button--weight-primary"
                href="{% url "keymanagement:activate" pk=key.id %}">
                    {% translate "Activate" %}
                </a>
                <a class="cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--action-destructive"
                href="{% url "keymanagement:delete" pk=key.id %}">
                    {% translate "Delete" %}
                </a>
                {% else %}
                <a class="cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--action-progressive"
                href="{% url "keymanagement:deactivate" pk=key.id %}">
                    {% translate "Suspend" %}
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="center-block">
    <a href="{% url "keymanagement:create" %}" class="cdx-button cdx-button--fake-button cdx-button--fake-button--enabled  cdx-button--weight-primary cdx-button--action-progressive">Upload new key</a>
</div>
</div>
</div>
{% endblock %}