{% extends 'hero_codex.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="content">
        <div class="message-body">
          <div class="message-box">
            <div class="cdx-message cdx-message--block cdx-message--error" aria-live="polite">
              <span class="cdx-message__icon"></span>
              <div class="cdx-message__content">
                {% blocktrans %}
                You do not have access to this page or functionality.
                Click <a href=/>here to return to the frontpage.</a>
                {% endblocktrans %}
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
