{% extends 'hero_codex.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="content">
        <div class="message-body">
          <div class="message-box">
            <div class="cdx-message cdx-message--block cdx-message--error" aria-live="polite">
              <span class="cdx-message__icon"></span>
              <div class="cdx-message__content">
                {% blocktrans %}
                500 Internal Server Error - Your request caused an error on the server.
                {% endblocktrans %}
              </div>
            </div>
          </div>
            {% blocktrans %}
            There was an error processing your request. Should the problem persist, you can
            <a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/43/?tags=bitu%2Cinfrastructure-foundations&title=IDM%20Bug-Report" target="_blank">
              submit a bug report</a>
            <br />
            Click <a href=/>here to return to the frontpage.</a>
            {% endblocktrans %}
        </div>
    </div>
{% endblock %}
