{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bitu - Wikimedia Identity Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/codex.style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bitu-codex.css' %}">
    <script type="text/javascript" src="{% static 'bitu.js' %}"></script>
</head>
<body>
{% block main %}
{% endblock %}
<footer>
    {% block footer %}
    <ul>
        <li><a href="https://foundation.wikimedia.org/wiki/Special:MyLanguage/Policy:Non-wiki_privacy_policy">{% translate "Privacy Policy" %}</a></li>
        <li><a href="https://foundation.wikimedia.org/wiki/Special:MyLanguage/Terms_of_Use">{% translate "Terms of Use" %}</a></li>
        <li><a href="https://www.mediawiki.org/wiki/Special:MyLanguage/Code_of_Conduct">{% translate "Code of Conduct" %}</a></li>
        <li><a href="https://gerrit.wikimedia.org/g/operations/software/bitu">{% translate "Source Code" %}</a></li>
        <li><a href="https://phabricator.wikimedia.org/tag/bitu/">{% translate "Issues" %}</a></li>
        <li><a href="https://wikitech.wikimedia.org/Special:MyLanguage/wiki/Bitu">{% translate "Documentation" %}</a></li>
    </ul>
    {% endblock %}
</footer>
{% block script %}{% endblock %}
</body>
</html>