{% load django_vite %}
{% load i18n %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Bitu - Wikimedia Identity Manager{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <style>
      .sticky_footer {
        position: absolute;
          width: 100%;
          bottom: 0px;
          left: 0;
      }
    </style>
    {% block headerscripts %}
        {% vite_hmr_client %}
    {% endblock %}
</head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg" style="background-color: #fff">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Wikimedia-logo.svg" height="25px">
                    Wikimedia IDM
                </a>              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    {% url 'keymanagement:list_keys' as keymanagement_page %}
                    <a {% if request.path == keymanagement_page %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{ keymanagement_page }}">{% translate "SSH Keys" %}</a>
                  </li>
                  <li class="nav-item">
                    {% url 'permissions:list' as permissions_page %}
                    <a {% if request.path == permission_page %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{ permissions_page }}">{% translate "Permissions" %}</a>
                  </li>
                </ul>
                <div style="margin-left: auto;"></div>
                <div class="d-flex">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="cdx-icon cdx-icon--medium"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-hidden="true"><!----><g><path d="M10 11c-5.92 0-8 3-8 5v3h16v-3c0-2-2.08-5-8-5"></path><circle cx="10" cy="5.5" r="4.5"></circle></g></svg></span>
                        {{ user.display_signed_in_as }}
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'ldapbackend:properties' %}">{% translate "Profile" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'ldapbackend:change_password' %}">{% translate "Change password" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'accounts:logout' %}?next=/">{% translate "Sign out" %}</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              </div>
          </nav>
    </div>
    <br>
    <div class="container">
    {% block app %}
    <div id="app"></div>
    {% endblock %}
    {% csrf_token %}
        <footer class="mt-auto py-3 sticky_footer">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a href="https://foundation.wikimedia.org/wiki/Special:MyLanguage/Policy:Non-wiki_privacy_policy" class="nav-link px-2 text-muted">{% translate "Privacy Policy" %}</a></li>
              <li class="nav-item"><a href="https://foundation.wikimedia.org/wiki/Special:MyLanguage/Terms_of_Use" class="nav-link px-2 text-muted">{% translate "Terms of Use" %}</a></li>
              <li class="nav-item"><a href="https://www.mediawiki.org/wiki/Special:MyLanguage/Code_of_Conduct" class="nav-link px-2 text-muted">{% translate "Code of Conduct" %}</a></li>
              <li class="nav-item"><a href="https://gerrit.wikimedia.org/g/operations/software/bitu" class="nav-link px-2 text-muted">{% translate "Source Code" %}</a></li>
              <li class="nav-item"><a href="https://phabricator.wikimedia.org/tag/bitu/" class="nav-link px-2 text-muted">{% translate "Issues" %}</a></li>
              <li class="nav-item"><a href="https://wikitech.wikimedia.org/wiki/Special:MyLanguage/IDM" class="nav-link px-2 text-muted">{% translate "Documentation" %}</a></li>
              <li class="nav-item"><a href="{% url "wikimedia:public_block_log" %}" class="nav-link px-2 text-muted">{% translate "Administrative ban log" %}</a></li>
            </ul>
            <p class="text-center text-muted">Wikimedia Foundation</p>
          </footer>
    </div>
  </body>
</html>
