{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bitu - Wikimedia Identity Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bitu-codex.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codex/0.19.0/codex.style.css" integrity="sha512-eoo3OmpqSRwAzXpnOTY279FYB9o9GIVyGOdgwdLJnfXxkiX7aHXK9r0hdkMceNywim0Axf0sezSh8e7fWcYcKA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
{% block main %}
{% endblock %}
<footer>{% block footer %}<a href="https://wikitech.wikimedia.org/wiki/IDM">What is Bitu?</a>{% endblock %}</footer>
{% block script %}{% endblock %}
</body>
</html>