{% load i18n %}
{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{% static 'key.jpg' %}" height="28">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://wikitech.wikimedia.org/wiki/IDM" target="_blank">
          Documentation
        </a>
        {% if not user.is_anonymous %}
        <a class="navbar-item" href="{% url "keymanagement:list" %}">
          🔑 SSH Keys
        </a>
        {% endif %}
        <a class="navbar-item" href="{% url "about" %}">
          About
        </a>
      </div>
      <div class="navbar-end">
        {% if not user.is_anonymous %}
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-info" href="{% url 'accounts:logout' %}">
              <strong>{% translate "Sign out" %}</strong>
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>