{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bitu</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bitu.css' %}">
  </head>
  <body>
  {% include "navbar.html" %}
    <div class="container">
      <div class="notification">
      <h1 class="title">
        {% block title %}Bitu{% endblock %}
      </h1>
      {% block content %}
      {% endblock %}
      </div>
    </div>
    </div>
  </body>
</html>