{% load bulma %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bitu</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma-tooltip.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bitu.css' %}">
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container">
      <div>
      {% if messages %}
      {% for message in messages %}
      <article class="message {{ message.tags|django_message_tags_to_bulma_classes }}">
        <div class="message-body">
          {{ message }}
        </div>
      </article>
      {% endfor %}
      {% endif %}
      </div>
      <h1 class="title">
        {% block title %}Bitu{% endblock %}
      </h1>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>