/* SPDX-License-Identifier: GPL-3.0-or-later */
html {
    margin: auto;
    height: 100%;
    min-height: 100%;
    width: 80%;
    background-color: white;
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Inter", "Helvetica", "Arial", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

header.hero {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

@media only screen and (max-width: 833px) {
    header.hero img {
    min-width: 40vw;
    max-width: 60vw;
    }
}

div.hero {
    min-height: calc(100vh * 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.content header {
    width: 100%;
    padding-left: 0.5vw;
    justify-content: left;
}

.columns {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left {
    padding-left: 0.5vw;
}

footer {
    display: flex;
    justify-content: right;
    margin-bottom: 5vh;
    margin-right: 5vh;
}

.form-field {
    margin-bottom: 2vh;
}

.form-help {
    display: flex;
    flex-direction: row;
}

.center-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5vh 0 2vh 0;
}

.center-block .cdx-button {
    margin-bottom: 2vh;
}

.right div.warning {
    margin-bottom: 2vh;
}

div.warning a {
    color: black;
}

.field-max {
    float: right;
}

.field-help {
    min-width: 80%;
}

.field-action {
    min-width: 20%;
    margin-left: 1vw;
    text-align: right;
    float: right;
}

.captcha-refresh {
    float: right;
}

p.center {
    text-align: center;
}

.single-field {
    width: 75vw;
}

.message-box {
    width: 100%;
    margin: 0 0vw 4vh 0.5vw;
}

.message-box-narrow {
    width: 100%;
    margin: 0 0vw 4vh 0.5vw;
}

.sshkey-data-card {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 833px) {
    header.hero img {
        width: 184px;
    }

    .columns {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .single-field {
        width: 50vw;
    }

    .right {
        margin-left: 2vw;
    }

    .center-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 5vh 0 2vh 0;
    }

    .center-block a {
        margin-left: 1vw;
    }

    .message-box-narrow {
        width: 50%;
        margin: 0 0vw 4vh 0.5vw;
    }
}

/* menu */
nav {
    width: 100%;
}
nav ul {
    list-style-type: none;
    justify-content: flex-start;
    padding-left: 0px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu {
    justify-content: center;
}

.logo {
    font-weight: 700;
    flex: 1;
    float: left;
    width: 100%;
}

.logo img {
    height: 5vh;
}

.item.active {
    display: block;
}

.toggle {
    text-align: center;
}

.toggle span {
    height: 100%;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
    background-color: #f8f9fa;
}

.item.active:hover {
    background-color: #eaf3ff;
}

@media all and (min-width: 833px) {
    .item {
        display: block;
        width: auto;
    }

    .item.active {
        background-color: white;
    }

    .item:hover {
        background-color: #eaf3ff;
    }

    .menu {
        justify-content: center;
    }

    .toggle {
        flex: 1;
        text-align: right;
        display: none;
    }
}

/* end menu */


/* fake tables */
table, thead, tbody, th, td, tr {
    display: block;
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

tr {
    border-bottom: solid;
    border-width: 2px;
    border-color: #eaecf0;
    margin-bottom: 2vh;
}

td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 25vw;
    margin-bottom: 1vh;
}

.sshkey {
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
}

td:before {
    /* Now like a table header */
    min-width: 30vw;
    position: absolute;
    left: 6px;
    white-space: nowrap;
    font-weight: 700;
}

.cdx-fake-message {
    background-color: white;
}

td:nth-of-type(1):before { content: attr(data-label); }
td:nth-of-type(2):before { content: attr(data-label); }
td:nth-of-type(3):before { content: attr(data-label); }

@media all and (min-width: 833px) {
    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 10vw;
        margin-bottom: 1vh;
    }
}
/* endtables */