{% extends 'single_column_codex_with_nav.html' %}
{% load i18n %}

{% block title %}
{% translate "Update password" %}
{% endblock %}

{% block content %}
<div class="codex_content">
  <div class="content_box">
    <h4>Update password</h4>
    <p>
        <form method="post">{% csrf_token %}
          {% for field in form %}
          <div class="cdx-field">
            {% if not field.is_hidden %}
            <div class="cdx-label">
              <label class="cdx-label__label" for="id_{{ field.name }}">
                <span class="cdx-label__label__text">{{ field.label }}</span>
              </label>
            </div>
            {% endif %}
            <div class="cdx-field__control">
              <div class="cdx-text-input {% if field.errors %}cdx-text-input--status-error{%endif %}">
                <input id="id_{{ field.name }}" name="{{ field.name }}" class="cdx-text-input__input" type="{% if field.is_hidden %}hidden{% else %}password{% endif %}" value="{% if field.value %}{{ field.value }}{% endif %}"/>
              </div>
            </div>
            {% if field.errors and not field.is_hidden %}
            <div class="cdx-field__validation-message">
              <div
                class="cdx-message cdx-message--inline cdx-message--error"
                role="alert"
              >
                <span class="cdx-message__icon"></span>
                <div class="cdx-message__content">{{ field.errors.0 }}</div>
              </div>
            </div>
            {% endif %}
          </div>
          {% endfor %}

              <div class="center-block">
                <button type="submit" class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">
                    {% translate "Update" %}
                </button>
                <a href="{% url "ldapbackend:properties" %}"
                class="cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--action-progressive">{% translate "Cancel" %}</a>
              </div>
        </form>
      </p>

  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}